<h1>Aplicação</h1>
<app-header></app-header>
<router-outlet></router-outlet>


<ul>
    @for (item of valor; track $index) {
        <li>{{item.item}} - {{item.quantidade}}</li>
    }
</ul>

<form (ngSubmit)="adicionar()">
    <label>Item: </label>
    <input
     [(ngModel)]="item"
     name="item"
      (input)="limparMensagem()" 
      placeholder="item">

<br><br>

    <label>Quantidade: </label>
    <input 
    type="number" 
    [(ngModel)]="quantidade" 
    name="quantidade"
    (input)="limparMensagem()" 
    placeholder="Quantidade">

    <button type="submit">Adicionar</button>

    
@if (mensagem) {
    <p style="color: red;">{{mensagem}}</p>
}
</form>

<app-binding-page></app-binding-page>





